{
    'rules': {
        'indent': 2,
        'react/prefer-es6-class': 0,
        'react/jsx-no-bind': 0,
        'react/prefer-stateless-function': 0,
        'no-console': 0,
        'no-new': 0,
        'quote-props': 0,
        'object-shorthand': 0,
        'func-names': 0,
        'no-param-reassign': [2, {'props': false}],
        'new-cap': 0,
        'prefer-rest-params': 0,
        'camelcase': 0,
        "no-confusing-arrow": 0,
    },
    'plugins': [
        'react',
    ],
    'extends': ['airbnb'],
    'parser': 'babel-eslint'
}
